<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="container mt-3">
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Registro</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if messages %}
                                {% for mensaje in messages %}
                                    {% if mensaje.tags == "success" %}
                                        <div class="alert alert-success text-center" role="alert">{{ mensaje }}</div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <div class="form-group">
                                <label for="id_producto">Producto</label>
                                <input type="text" class="form-control" id="id_producto" name="producto">
                            </div>
                            <div class="form-group">
                                <label for="id_servicio">Servicio</label>
                                <input type="text" class="form-control" id="id_servicio" name="servicio">
                            </div>
                            <div class="form-group">
                                <label for="id_m_prima">Materia Prima</label>
                                <input type="text" class="form-control" id="id_m_prima" name="m_prima">
                            </div>
                            <div class="form-group">
                                <label for="id_desc">Descripción</label>
                                <textarea class="form-control" id="id_desc" rows="10" name="descripcion"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="id_price">Precio</label>
                                <input type="number" class="form-control" id="id_price" name="precio">
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-9">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>